*.suo
*.user

[Dd]ebug/
[Dd]debugPublic/
[Rr]elease/
[Rr]eleases/
x64
x86
bld
[Bb]in/
[Oo]bj/
[Ll]og/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


*.psess
*.vsp
*.vspx
*.sap

*.e2e

publish/

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

*.[Cc]ache
!*.[Cc]ache/

ClientBin/
~$*
*~

*.mdf
*.ldf
*.ndf

*.opt
*.vbw

.DS_Store
.AppleDouble
.LSOverride

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent