<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AppStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppLauncher.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>120, 100</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastSearchString" serializeAs="String">
                <value />
            </setting>
        </AppLauncher.Properties.Settings>
        <AppStarter.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>120, 100</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastSearchString" serializeAs="String">
                <value />
            </setting>
        </AppStarter.Properties.Settings>
    </userSettings>
</configuration>